

ul.Menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 61px;
  background-color: #333;
  position: sticky;
  top: 0;
}
li a, .twitter{
	padding: 0px 0px;
	background-color: none;
}

li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

#Learn li{
   float:none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}






